* {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;

}

body {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:cornflowerblue;
}

#calculator {
  min-height: 500px;
  height: 50vh;
  width: 50vh;
  background-color: rgb(173, 186, 211);
  display: grid;
  grid-template: "s s s s" 1fr
                 "a a a o" 1fr
                 "n n n o" 1fr
                 "n n n o" 1fr
                 "n n n o" 1fr
                 "n n n o" 1fr
                 / 1fr 1fr 1fr 1fr;
}

.screen {
  background-color: black;
  width: 100%;
  height: auto;
  grid-area: s;
}

.aux {
  background-color: red;
  grid-area: a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  grid-area: o;
  background-color: teal;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.numbers {
  grid-area: n;
  background-color:wheat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#zero {
  grid-column: span 2;
}
